* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  /* background-image: url(../assets/8.jpg); */
  /* background-color: white; */
  height: 10vh;
  /* box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%); */
}
ul {
  list-style: none;
  display: flex;
  float: right;
}
li {
  padding: 10px;
  align-items: center;
  justify-content: center;
}
a {
  /* color: white; */
  text-decoration: none;
}
.search-bar .searchIcon {
  border: none;
  background: white;
  align-items: center;
  justify-content: center;
}
/* .gradient-bg-welcome {
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
} */
